# Databases
*.db
*.db-journal

# Environment Secrets
.env
.env.local

# Node/React Dependency Caches
node_modules/
dist/
.eslintcache

# Python Dependency Caches
__pycache__/
*.pyc
venv/
.venv/
.env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
*.egg-info/

# System Files
.DS_Store
Thumbs.db